@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1095px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

.aboutMe{
  width: 100%;
  margin:0 20px;

  @include mobile{
    margin:0 0px;
  }

  .Title{
    margin: 0px 100px;
    padding: 15px 0;
    font-weight: 900;
    font-size: 50px;

    @include laptop{
      font-size: 40px;
    }

    @include mobile{
      margin: 0px 20px;
      padding: 10px 0;
    }
  }

  .aboutMeWrapper{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    @include tablet{
      padding: 20px 20px;
    }

    @include mobile{
      display: block;
      padding-top: 0px;
    }


    .aboutMeimage{
      height: 300px;
      width: 400px;

      @include laptop{
        height: 350px;
      }

      @include tablet{
      height: 300px;
      width: 350px;
      }

      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .aboutMetext{
      width: 500px;
      line-height: 35px;
      font-size: 20px;
      padding: 30px 20px;
      
      @include laptop{
        width: 450px; 
      }
      @include tablet{
      line-height:30px;
      }

      @include mobile{
        width: 300px;
        padding: 30px;
        text-align: center;
      }
      
    }
  }

  .mySkills{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1{
      padding: 20px 0;
    }

    @include mobile{
      margin-bottom: 30px;
    }
    
    

    .mySkillsWrapper{
      width:700px;
      text-align: center;

      @include mobile{
        width: 350px;
      } 
    }
  }

}