@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

.skills{
  width: 100%;
  @include mobile{
    padding-left: 80px; 
  }
 

  .skillsWrapper{
    background: #8894A2;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

    


    .skillsLogo{
      height: 150px;
      width: 100px;
      

      img{
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .skillsName{
      font-size: 30px;
      color: black;
      font-weight: 500;
    }
  }
}