@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

.main{
 width: 100%;
 
  .mainWrapper{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;

      .mainHeader{
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-size: 120px;

        @include laptop{
          font-size: 90px;
        }

        @include mobile{
          font-size: 35px;
          padding: 0 0;
        }
      }

      .maintext{
        text-align: center;
        justify-content: center;
        margin-bottom: 25px;
        font-weight: 500;

        @include laptop{
          margin-bottom: 35px;
        }
        
        h1{
          margin-bottom: 25px;
          font-size: 50px;

          @include mobile{
            font-size: 20px;
          }

          @include laptop{
            font-size: 40px;
          }
        }

        p{
          font-size: 20px;
          line-height: 35px;

          @include mobile{
            line-height: 25px;
          }
        }
      }
      .options{
        margin-bottom: 25px;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        
        @include mobile {
          
        }

        .option{
          display: inline-block;
          margin: 0;
        }
      }
    }  
  }
 