*{
  font-family: 'Playfair Display', serif;
}

.app{
  
  color: black;

  .header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99999;
  }

  .footer{
    position: fixed;
    width: 300px;
    height: 280px;
    bottom: 0;
    right: 0;
  }

}

