.projects{
  width: 100%;

  .projectsWrapper{
    display: block;
    margin: 0px 70px;
    
    .Title{
      margin: 0px 100px;
      padding: 30px 0;
      font-weight: 900;
      font-size: 50px;
    }

  }
 
}